/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
/* COLORS */
$white: #fff;
$light-grey: #d3d9df;
$light-grey2: #e2e8ee;

$default: #525f7f;
$primary: #5e72e4;
$info: #11cdef;
$success: #2dce89;
$warning: #fb6340;
$danger: #f5365c;

.white {
  color: $white;
}
.light-grey {
  color: $light-grey;
}
.default {
  color: $default;
}
.primary {
  color: $primary;
}
.info {
  color: $info;
}
.success {
  color: $success;
}
.warning {
  color: $warning;
}
.danger {
  color: $danger;
}

.bg-white {
  background-color: $white;
}
.bg-light-grey {
  background-color: $light-grey;
}
.bg-default {
  background-color: $default;
}
.bg-primary {
  background-color: $primary;
}
.bg-info {
  background-color: $info;
}
.bg-success {
  background-color: $success;
}
.bg-warning {
  background-color: $warning;
}
.bg-danger {
  background-color: $danger;
}

.shadow-sm {
  box-shadow: 0 0 0.5rem rgba(136, 152, 170, 0.075) !important;
}
.shadow-lg {
  box-shadow: 0 0 3rem rgba(136, 152, 170, 0.175) !important;
}

@mixin transition-all($time) {
  transition: all $time ease-in-out;
}

/* GENERAL DOCUMENT */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  text-align: center;

  color: $default;
  background-color: $light-grey2;

  padding: 20px;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a {
  font-weight: 400;
  color: $default;
}

h1,
.h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.75rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}

p,
span {
  font-size: 1rem;
  line-height: 1.7;
}

/* LAYOUT */
.row {
  display: flex;
  flex-direction: row;
  &:before,
  &:after {
    display: flex;
    flex-direction: row;
  }
}
.col {
  display: inline-block;
}
