<template>
  <div class="home">
    <base-card>
      <div slot="header">
        <h4 slot="header">Todos</h4>
      </div>

      <form class="form" slot="body" @submit.prevent="addTodo">
        <div class="form-group">
          <base-input label="Description" v-model="todo.description" />
          <base-button label="Add" color="primary" @click="addTodo(todo)"></base-button>
        </div>
      </form>
    </base-card>
    <br />
    <base-card>
      <table slot="body">
        <tr>
          <th>Done?</th>
          <th>#</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        <tr v-for="todo in todos" :key="todo.id">
          <td>
            <input
              type="checkbox"
              :id="'chk-' + todo.id"
              v-model="todo.done"
              @change="setDone(todo)"
            />
          </td>
          <td>{{ todo.id }}</td>
          <td v-if="todoEditingId === todo.id">
            <base-input v-model="todo.description" :id="todo.id" />
          </td>
          <td v-else>{{ todo.description }}</td>
          <td class="actions">
            <base-button
              label="Edit"
              color="warning"
              @click="editTodo(todo)"
              v-if="todo.done == !true"
            />
            <base-button
              v-if="todoEditingId != todo.id && todo.done == !true"
              label="Delete"
              color="danger"
              @click="deleteTodo(todo.id)"
            />
          </td>
        </tr>
      </table>
    </base-card>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'Home',
  data() {
    return {
      todo: {},
      todoEditingId: null,
    }
  },
  computed: {
    ...mapState(['todos']),
  },
  methods: {
    ...mapActions(['addTodo', 'deleteTodo']),
    editTodo(todo) {
      if (this.todoEditingId == todo.id) {
        todo.done = this.boolToInt(todo.done)
        this.$store
          .dispatch('updateTodo', todo)
          .then(() => {
            this.todoEditingId = ''
          })
          .catch(error => {
            console.log(error.message)
          })
      } else {
        this.todoEditingId = todo.id
        setTimeout(() => {
          document.getElementById(todo.id).focus()
        }, 1)
      }
    },
    setDone(todo) {
      todo.done = this.boolToInt(todo.done)
      this.$store
        .dispatch('updateTodo', todo)
        .then(() => {
          const chk = document.getElementById('chk-' + todo.id)
          chk.checked = todo.done
          const chkParent = chk.parentNode.parentNode
          if (todo.done) {
            chkParent.classList.add('done')
          } else {
            chkParent.classList.remove('done')
          }
        })
        .catch(error => {
          console.log(error.message)
        })
    },
    boolToInt(value) {
      return value === true ? 1 : 0
    },
  },
  created() {
    this.$store
      .dispatch('fetchTodos')
      .then(() => console.log('Todos fetched!'))
      .catch(error => console.log(error))
  },
}
</script>
<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';

.form-group {
  display: flex;
  gap: 20px;
}
.card {
  margin: auto;
  max-width: 600px;
}

button {
  margin: auto auto 0 auto;
}

.actions {
  display: flex;
  justify-content: space-between;
  & button {
    height: 2.4rem;
    width: 70px;
  }
}

.done {
  color: $light-grey;
  text-decoration-line: line-through;
}

// TABLE
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 6px;
}
th {
  border-bottom: 1px solid $light-grey;
}
td {
  text-align: left;
}

tr {
  &:nth-child(2) {
    td {
      padding-top: 15px;
    }
  }
}
</style>
