<template>
  <div class="card">
    <slot name="header" class="card-header"></slot>
    <slot name="body" class="card-body"></slot>
    <slot name="footer" class="card-footer"></slot>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;

  padding: 1.5rem;

  background-color: $white;
  background-clip: border-box;

  border: 1px solid $white;
  border-radius: 0.625rem;

  &.card-header {
    margin-bottom: 20px;
  }
}
</style>
