<template>
  <div class="input-group">
    <label class="label" v-if="label">{{ label }}</label>
    <div class="input">
      <input :value="value" @input="updateValue" @change="changeValue" v-bind="$attrs" />
    </div>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: '',
    },

    value: [String, Number],
  },
  methods: {
    updateValue(event) {
      this.$emit('input', event.target.value)
    },
    changeValue(event) {
      this.$emit('change', event)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';

.input-group {
  width: 100%;

  color: $light-grey;

  text-align: left;

  &:focus-within {
    color: $primary;
  }
  input,
  .input,
  .label {
    @include transition-all(0.1s);
  }

  input,
  .input {
    width: inherit;
    border: 1px solid transparent;
    outline: none;

    color: inherit;

    &:focus {
      color: $primary;
    }
  }
  .input {
    position: relative;
    display: flex;
    flex-direction: row;

    padding: 0 8px;
    height: 2.6rem;

    border: 2px solid $light-grey;
    border-radius: 5px;

    background-color: $white;

    &:focus-within {
      color: $primary;
      border-color: $primary;
    }
    &::placeholder {
      color: $light-grey;
    }
  }
  & .label {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.04rem;

    margin: 25px 0 5px 0;
  }
}

input[type='file'] {
  /* Apply absolute positioning and move to top-left corner of parent div element */
  position: absolute;
  top: 7px;
  left: 8px;
  /* Making the file input element to cover the whole div element */
  right: 0px;
  bottom: 0px;
  width: 100%;

  -webkit-tap-highlight-color: transparent;

  z-index: 10000;
}
</style>
