<template>
  <button type="button" class="btn" :class="['bg-' + color, shape]" @click="onClick">
    <span v-if="label" class="btn-text"
      ><slot name="label">{{ label }}</slot></span
    >
    <slot class="badge"></slot>
  </button>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'default',
    },
    shape: {
      type: String,
      default: 'square',
    },
    label: {
      type: [String, Number],
      default: 'Button',
    },
  },
  methods: {
    onClick(event) {
      this.$emit('click', event.target.value)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';

.btn {
  padding: 0.4rem 0.5rem;

  height: 2.6rem;
  width: 120px;

  color: $white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.025em;
  white-space: nowrap;
  line-height: 1.5em;
  vertical-align: middle;

  user-select: none;
  cursor: pointer;
  will-change: transform;

  border: 1px solid transparent;
  border-radius: 5px;

  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #5c6cc9;
  }
  & .btn-text {
    font-weight: 400;
    font-size: 0.9rem;
    margin: auto 0.3em;
  }
}
</style>
